extends layout

block content
  h1= title
  ul
    li
      a.active(href='/') Elenco Unità
    li
      a(href='/addUnit') Nuova Unità
  br
  each r in re
    h1 Unit: #{r.Unit}
    img(src=`/img/${r.Unit}.png`)
    a(href=`/dettagli/${r.Unit}`) Click for details of: #{r.Unit}
    br
    hr